* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 91, 225);
    color: white;
}

main {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    gap: 1.5rem;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 100%;
    width: 50%;
    background-color: #002B5B;
}

.input_section > h2 {
    text-align: center;
    color: white;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #245953;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.input_section > form > .input > label {
    color: white;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.search_section > h2 {
    color: rgb(18, 91, 225);
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: rgb(18, 91, 225);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: rgb(18, 91, 225);
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #159895;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #FC2947;
    color: white;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.book-container {
    width: 100%;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 0;
    }

    .input_section {
        width: auto;
        height: auto;
    }

    .search_section {
        margin-top: 16px;
    }

    .search_section > form > button {
        padding: 10px;
    }

    #searchBook {
        display: flex;
        flex-direction: column;
    }
}